.form {
    margin-top: 13rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.input__wrapper {
    position: relative;
    margin-bottom: 3rem;
    width: 100%;
    //overflow: hidden;

    & .error-line {
        position: absolute;
        bottom: 0%;
        left: 0%;
        height: .1rem;
        width: 0%;
        background-color: red;
        //transform: translateX(-105%);
        transition: all .5s ease-in-out;
    }

    & .error-info {
        position: absolute;
        bottom: -2.5rem;
        left: 0%;
        color: red;
        display: inline-block;
        font-size: 1.2rem;
        opacity: 0;
        transition: all .5s ease-in-out;
    }

    &--attach {
        width: auto;
        overflow: hidden;
    }

    &--checkbox {
        width: auto;
        & input[type="checkbox"] {
            appearance: none;
            height: 1.5rem;
            width: 1.5rem;
            border: .1rem solid var(--color-secondary);
            background-color: transparent !important;
            position: relative;
            margin-right: .5rem;
        }

        & input[type="checkbox"]:checked::before {
            transform: scale(1);
        }

        & input[type="checkbox"]::before {
            content: "";
            position: absolute;
            top: 0%;
            right: 0%;
            bottom: 0%;
            left: 0%;
            height: 100%;
            width: 100%;
            background-color: var(--color-secondary);
            transform: scale(0);
            clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
            transform-origin: bottom left;
            transition: 120ms transform ease-in-out;
        }
        
        & label {
            position: relative;
            left: 0%;
            bottom: 0%;
        }

    }

}

label {
    color: var(--color-quaternary);
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    font-size: 1.4rem;
}

.label--attach {
    cursor: pointer;
    position: relative;
    left: 0;
    bottom: 0;

    & span {
        display: inline-block;
        padding-left: .5rem;
    }
}

input[type="text"],
input[type="email"],
textarea {
    border: none;
    background-color: transparent;
    border-bottom: .1rem solid var(--color-secondary);
    caret-color: var(--color-secondary);
    padding: 1rem;
    outline: none;
    width: 100%;
}

textarea {
    padding-bottom: 0rem !important;
    height: 3.5rem;
    resize: none;
}

#upload-file {
    opacity: 0;
    position: absolute;
    left: 0%;
    bottom: 0%;
}
